h1, h2, h3 {
    text-align: center;
  }
  h1 {
    margin: 0 auto .5em;
  }
  body {
    background-color: #eef0f0;
    height: 100%;
  }
  main {
    background-color: #FFF;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 1em auto;
    max-width: 1000px;
    padding: 1.5em 3em;
  }
  .button {
    border-radius: 5px;
    color: #FFF;
    font-size: 1.25em;
    font-weight: bold;
    margin: .5em auto 1em;
  }

  .search-form {
    display: flex;
    flex-direction: column;
}

.search-div {
  height: 100vh;
}

.search-field {
  background: #FFF;
  margin: 20px;
  padding: 10px;
}

#indexForm {
  width: 100%;
  padding-top: 0;
  margin-left: 0;
}

form {
    width: 100%;
    padding-top: 20px;
    margin-left: 10px;
}

.search-results {
    width: 100%;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


@media screen and (min-width:992px){
  #indexForm {
      width: 100%;
      padding-top: 20px;
  } 

  form {
      width: 25%;
      padding-top: 20px;
  }

  .search-results {
      width: 75%;
      padding-top: 20px;
  }
  .search-form {
      display: flex;
      flex-direction: row;
  }
}