h1, h2, h3 {
    text-align: center;
  }
  h1 {
    margin: 0 auto .5em;
  }
  body {
    background-color: #eef0f0;
    height: 100%;
  }
  main {
    background-color: #FFF;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 1em auto;
    max-width: 1000px;
    padding: 1.5em 3em;
  }
  .button {
    border-radius: 5px;
    color: #FFF;
    font-size: 1.25em;
    font-weight: bold;
    margin: .5em auto 1em;
  }